<div class="card espe-background">
    <div class="card-header espe-logo">
        <img src="../../assets/img/LOGO-ESPE_500.png">
    </div>
    <div class="card-body d-flex align-self-center align-items-center full-display" style="padding-bottom: 10rem;">
        <div class="  div-option">
            <img alt="Grupos" src="./../../assets/img/GRUPOS-ICONO.png">

            <button type=" button" icon="pi pi-check" class="btn btn-lg btn-primary"
                (click)='goGroups()'>Grupos</button>
        </div>
        <div class="  div-option ">
            <img alt="Roles" src="./../../assets/img/ROL-ICONO.png">
            <button type=" button" class="btn btn-lg btn-primary" (click)='goRol()'>Roles</button>
        </div>
        <div class="  div-option">
            <img alt="Usuarios" src="./../../assets/img/USUARIOS-ICONO.png">
            <button type=" button" class="btn btn-lg btn-primary" (click)='goUsers()'>Usuarios</button>
        </div>
    </div>
</div>