<div class="modal-header">
    <h4 class="modal-title"> {{isEdit ? 'Editar usuario' : 'Crear usuario'}} </h4>
    <span class="fa fa-times close" (click)="onCancel()"></span>
</div>
<div class="modal-body">
    <div class="row px-1">
        <label class="col-md-3 m-0 py-2">Nick:</label>
        <input class="col-md-9 m-0 py-2" [(ngModel)]="userRow.username" type="text" maxlength="20" />
        <label class="col-md-3 m-0 py-2">Contraseña:</label>
        <input class="col-md-9 m-0 py-2" [(ngModel)]="userRow.password" type="password" maxlength="32" />
        <label class="col-md-3 m-0 py-2">Nombre:</label>
        <input class="col-md-9 m-0 py-2" [(ngModel)]="userRow.name" type="text" maxlength="50" />
        <label class="col-md-3 m-0 py-2">Correo:</label>
        <input class="col-md-9 m-0 py-2" [(ngModel)]="userRow.email" type="text" maxlength="50" />
        <label class="col-md-3 m-0 py-2">Teléfono:</label>
        <input class="col-md-9 m-0 py-2" [(ngModel)]="userRow.phone" type="text" number="'number'"
            maxlength="15" />
        <label *ngIf="isEdit" class="col-md-3 m-0 py-2">Estado:</label>
        <div *ngIf="isEdit" class="col-md-9 m-0 py-2 d-flex flex-row">
            <div *ngFor="let optionActive of iotUtil.statesLower">
                <div class="radio" [style]="{width: '110px'}">
                    <p-radioButton name="active" error-label="Estado" [(ngModel)]="userRow.status"
                        id="radio-{{optionActive.label}}" label="{{optionActive.label}}" [value]="optionActive.value">
                    </p-radioButton>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="onCancel()">
        <span>
            <em class="fa fa-close smx-button-text smx-button-icon-right"></em> Cancelar
        </span>
    </button>
    <button type="button" class="btn btn-success btn-sm " (click)="onConfirm(userRow)">
        <span>
            <em class="fa fa-save smx-button-text smx-button-icon-right"></em> Aceptar
        </span>
    </button>
</div>