<div class="card">
	<div class="card-header text-white header">
		<a class="logo" title="Inicio" (click)="goHome()">
			<img src="https://evirtual2.espe.edu.ec/archivos/logos/logopriplat_1n.jpg">
		</a>
		<h5>USUARIOS</h5>
	</div>
    <div class="card-body">
        <div class="m-2">
            <button type="button" class="btn btn-primary btn-sm" (click)="createUser()">
                <em class="fa fa-plus"></em> Crear usuario
            </button>
        </div>
        <div class="card m-2">
            <div class="card-header">
                <h6>Lista de usuarios</h6>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" *ngFor="let head of userHead" scope="col">{{head}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let user of userList">
                            <td>{{user.rowIndex}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone}}</td>
                            <td [style]="{color: user.status?'green':'red'}">
                                <em [title]="user.status?'ACTIVO':'INACTIVO'"
                                    [ngClass]="user.status?'fa fa-check-circle-o fa-2x':'fa fa-times-circle-o fa-2x'"></em>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm mx-1"
                                    (click)="configureUser(user)">Configurar</button>
                            </td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <a class="cursor-icon" title="Editar" (click)="editUser(user)">
                                        <em class="fa fa-edit  fa-2x" aria-hidden="true"></em>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>